.dart_tool/
.flutter-plugins-dependencies
.idea/
.packages
build/
coverage/
*.iml
*.log
**/android/local.properties
**/android/.gradle/
**/ios/.symlinks/
**/ios/Pods/
**/ios/Flutter/ephemeral/
**/DerivedData/
**/.swiftpm/
**/*.xcresult/
