<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name=".ConsumerApplication"
        android:label="yl_player_android_consumer">
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
